mixin Breakdown_hero(data)

  section.breakdown
    .wr-section
      .breakdown__line
      h2.breakdown__title!='TCGplayer Prices for LadyDevimon, $'
      .breakdown__charts-hero(style="height: 304px")
          canvas( id="chart-price" )

