-
  const seoForPages = {
    "commonData": {
      "author": "author common",
      "url": "url",
      "lang": "ru",
      "site_name": "site_name",
      "image200200Url": "imageUrl" //- full path (with https://)
    },
    "index": {
      "title": "Title index",
      "description": "description index",
      "keywords": "keywords index"
    }
  }
-
  const templateForPages = {
    "happyBrowserText": "ВНИМАНИЕ! Вы используете <strong>УСТАРЕВШИЙ Internet Explorer</strong> браузер.<br>Пожалуйста, <a href='https://browsehappy.com' target='_blank' rel='noopener'> обновите ваш браузер</a>, чтобы увидеть больше возможностей на сайтах!",
    "noScriptText": "ВНИМАНИЕ! Для корректной работы сайта необходимо включить Javascript в настройках вашего браузера."
  }
-
  const headerData = {
    decks: "Decks",
    items: [
      {
        name: "Articles",
        arrow: true,
      },
      {
        name: "Card Database",
        arrow: true,
      },
      {
        name: "Forums",
        arrow: false,
      },
      {
        name: "About",
        arrow: false,
      },
    ],
    loginText: 'Login'
  }
-
  const heroInfoData = {
   "title": "Budget ShineGreymon Test",
    hero_description: {
      description: ["IronArm", "4 days ago", "175", "0", "Yellow","$36.00"],
      title: ["Author:", "Date Uploaded:", "Deck Views:", "Deck Comments:", "Primary Deck Color:", "Est. Price:"],
    },
    buttons: ["Test Hand", "Export Deck", "Price Breakdown", "Deckbuilder"],
    "definition": "Budget ShineGreymon test deck.",
    "deck_description": 'Deck Description:',
  }
-
  const heroInfo_heroData = {
   "title": "LadyDevimon",
    hero_description: {
      description: ["IronArm", "4 days ago", "175", "0", "Yellow","$36.00"],
      title: ["Author:", "Date Uploaded:", "Deck Views:", "Deck Comments:", "Primary Deck Color:", "Est. Price:"],
    },
    buttons: ["Test Hand", "Export Deck", "Price Breakdown", "Deckbuilder"],
    "definition": "Budget ShineGreymon test deck.",
    "deck_description": 'Deck Description:',
  }
-
  const mainDeckData = {
   "title_first": "Main Deck:",
    "title_second": "Egg Deck",
  }
-
  const breakdownData = {
    "title": "Deck Breakdown:",
  }
-
  const otherData = {
    "title": "Other Decks on digimoncard.io",
    "text": "tourney deck"
  }
-
  const footerData = {
    "title": "Your Digimont TCG Community",
    aboutUs: ["Digimon Card Android Application", "Website Changelog", "Digimon TCG API"],
    corporateText:'The literal and graphical information presented on this site about Digimon, including card images and card text, is copyright Bandai Namco Entertainment and Toei Animation. This website is not produced by, endorsed by, supported by, or affiliated with Bandai Namco Entertainment and Toei Animation.',
    list: [{
      title:'Digimon',
      items: ['Digimon Portal','Card Database','Deck Builder','Top Decks']
    }, {
      title: 'Cardfight Vanguard',
      items: ['Cardfight Portal','Card Database','Deck Builder','Top Decks']
    }, {
      title: 'Pokémon',
      items: ['Pokémon Portal','Card Database','Deck Builder','Top Decks']
    }, {
      title: 'Yu-Gi-Oh!',
      items: ['Yu-Gi-Oh! Portal','Card Database','Deck Builder','Top Decks']
    },]
  }
-
  // const productsData = {
  //   items: [
  //     {
  //       title: "Пармезан",
  //       titles_for_card: [
  //         "Сорт",
  //         "Изготовитель",
  //         "Жирность,%",
  //         "Темепратура хранения,t◦С",
  //         "Срок годности,суток",],
  //
  //       texts_for_card: [
  //         "Полутвёрдый с добавками",
  //         "Пружаны",
  //         "46%",
  //         "от 0◦С до +6◦С",
  //         "180",
  //       ],
  //
  //     },
  //     {
  //       title: "Минский",
  //       titles_for_card: [
  //         "Сорт",
  //         "Изготовитель",
  //         "Жирность,%",
  //         "Темепратура хранения,t◦С",
  //         "Срок годности,суток",],
  //
  //       texts_for_card: [
  //         "Полутвёрдый с добавками",
  //         "Пружаны",
  //         "46%",
  //         "от 0◦С до +6◦С",
  //         "180",
  //       ],
  //
  //     },
  //     {
  //       title: "Молочный",
  //       titles_for_card: [
  //         "Сорт",
  //         "Изготовитель",
  //         "Жирность,%",
  //         "Темепратура хранения,t◦С",
  //         "Срок годности,суток",],
  //
  //       texts_for_card: [
  //         "Полутвёрдый с добавками",
  //         "Пружаны",
  //         "46%",
  //         "от 0◦С до +6◦С",
  //         "180",
  //       ],
  //
  //     },
  //     {
  //       title: "Молочный",
  //       titles_for_card: [
  //         "Сорт",
  //         "Изготовитель",
  //         "Жирность,%",
  //         "Темепратура хранения,t◦С",
  //         "Срок годности,суток",],
  //
  //       texts_for_card: [
  //         "Полутвёрдый с добавками",
  //         "Пружаны",
  //         "46%",
  //         "от 0◦С до +6◦С",
  //         "180",
  //       ],
  //
  //     },
  //   ]
  // }
-
  const historyData = {
    "text_history": "История",
    "title": "Сарматизм",
    "main_text": "Впервые отождествлять славян с сарматами начал хронист " +
            "каролингского времени Флодоард (X в.). Зачатки сарматизма можно увидеть" +
            " в произведениях историка Кадлубека (XII-XIII вв.). В эпоху Возрождения " +
            "вместе с интересом к античности...",
    "text_for_button": "Читать дальше"
  }
-
  // const mapData = {
  //   "text_history": "Контакты",
  //   "title": "Сарматизм",
  //   "main_text": "Впервые отождествлять славян с сарматами начал хронист " +
  //           "каролингского времени Флодоард (X в.). Зачатки сарматизма можно увидеть" +
  //           " в произведениях историка Кадлубека (XII-XIII вв.). В эпоху Возрождения " +
  //           "вместе с интересом к античности...",
  //   "text_for_button": "Читать дальше"
  // }
// -
//   const footerData = {
//     "copyrigth": "&copy; <span id='thisYear'></span> Все права защищены.",
//     "author": "Разработано <a href='https://t.me/chebatarou' target='_blank' title='Написать разработчику' rel='noopener'>BorCheLa</a>"
//   }
